/* Curso de Engenharia de Software - UniEVANGÉLICA 
Disciplina de Programação Web 
Dev: Carlos Eduardo Cunha Ribeiro
DATA: 31/03/2023 */

/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
  }
  
  header {
    background: #4CAF50;
    color: #fff;
    text-align: center;
    padding: 1rem;
    border-bottom: 3px solid #333;
  }
  
  main {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    max-width: 500px;
    margin: 2rem auto;
    padding: 2rem;
  }
  
  form {
    display: grid;
    gap: 1rem;
  }
  
  input, label {
    display: block;
    width: 100%;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  input[type="submit"] {
    background: #4CAF50;
    color: #fff;
    cursor: pointer;
    padding: 0.7rem;
    border-radius: 5px;
    border: none;
    font-weight: bold;
  }
  
  input[type="submit"]:hover {
    background: #45a049;
  }
  
  /* Estilos responsivos */
  @media (max-width: 600px) {
    header {
      padding: 1rem 0;
    }
  
    form {
      margin: 1rem auto;
    }
  }

  .second-label {
    margin-top: 20px; /* Ajuste o valor conforme necessário */
  }