/* Curso de Engenharia de Software - UniEVANGÉLICA 
Disciplina de Programação Web 
Dev: Carlos Eduardo Cunha Ribeiro
DATA: 31/03/2023 */

/* Estilos gerais */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  align-items: center;
  background-color: #4CAF50;
  padding: 1rem;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin-right: 1rem;
}

nav a:hover {
  text-decoration: white;
}

header {
  background-color: #4CAF50;
  text-align: center;
  padding: 1rem;
  border-bottom: 3px solid #333;
  color: white;
}

main {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  max-width: 800px;
  margin: 2rem auto;
  padding: 2rem;
}

form {
  display: grid;
  gap: 1rem;
  justify-items: center;
}

label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  text-align: center;
}

input[type="text"] {
  border: 2px solid #ccc;
  border-radius: 4px;
  padding: 0.5rem;
  font-size: 1rem;
}

input[type="submit"] {
  background: #4CAF50;
  color: #fff;
  cursor: pointer;
  padding: 0.7rem;
  border-radius: 5px;
  border: none;
  font-weight: bold;
}

input[type="submit"]:hover {
  background: #45a049;
}

#medicine-list-container {
  margin-top: 2rem;
  text-align: center;
}

#medicine-list {
  list-style: none;
  padding: 0;
}

#medicine-list li {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}

/* Estilos responsivos */
@media (max-width: 600px) {
  nav {
    flex-direction: column;
    align-items: flex-start;
  }

  nav a {
    margin-right: 0;
    margin-bottom: 0.5rem;
  }

  header {
    padding: 1rem 0;
  }

  main {
    max-width: 90%;
    margin: 1rem auto;
    padding: 1rem;
  }

  form {
    justify-items: stretch;
  }
}