Conteúdo principal de textos
.title {
    margin: 200px;
  }
  
  h1 {
    margin: 40px 200px 0 200px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 25px;
    font-weight: bolder;
    text-indent: 50
  }
    @media (max-width: 768px) {
      .waves {
      height: 40px;
      min-height: 40px;
      }
      .content {
      height: 50vh;
      }
      h1 {
      font-size: 20px;
      margin: 20px 20px 0 20px;
      text-indent: 20px;
      }
      p {
      margin: 20px 20px 0 20px;
      font-size: 16px;
      text-indent: 20px;
      }
      }
      
      @media (min-width: 768px) and (max-width: 1024px) {
      .waves {
      height: 50px;
      min-height: 50px;
      }
      .content {
      height: 60vh;
      }
      h1 {
      font-size: 22px;
      margin: 30px 50px 0 50px;
      text-indent: 30px;
      }
      p {
      margin: 30px 50px 0 50px;
      font-size: 16px;
      text-indent: 30px;
      }
      }
      
      @media (min-width: 1024px) {
      .waves {
      height: 80px;
      min-height: 80px;
      }
      .content {
      height: 70vh;
      }
      h1 {
      font-size: 25px;
      margin: 50px 100px 0 100px;
      text-indent: 50px;
      }
      p {
      margin: 50px 100px 0 100px;
      font-size: 18px;
      text-indent: 50px;
      }
      }
  
  /* Configuração para ajustar a posição do ícone e o tamanho da logo para dispositivos com largura máxima de 425px */
  @media (max-width: 425px) {
  .logo {
  width: 30px;
  padding-right: 10px;
  }
  #imgprincipal{
  width: 80%;
  }
  .flex {
  flex-wrap: wrap;
  }
  }      